<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Test App | Dashboard | Profile | Log Off</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for User in users %}
            <tr>
                <td>{{User.id}}</td>
                <td>{{User.first_name}} {{User.last_name}}</td>
                <td>{{User.email}}</td>
                <td>{{User.created_at}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>